.App {
    text-align: center;
}

.d-flex {
    display: flex;
    align-items: start;
    justify-content: center;
}

.border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: #efefef;
    width: 300px;
    height: 200px;

}

.overFlow {
    width: 100%;
    overflow: auto;
}

.fullComment {
    width: 500px;
    background: rgba(194, 204, 239, 0.54);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 5px;
}

.form_style {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.form_style label {
    margin-bottom: 10px;
    font-size: 16px;
}

.form_style input {
    width: 95%;
    border: 1px solid #ccc;
    height: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.form_style textarea {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

.btn_style {
    background: black;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
}

.red {
    color: red;
    font-weight: bold;;
}

.black {
    color: white;
}

.nav {

    background: black;
    padding: 10px 0;
}
.nav ul{
    padding: 0;
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style-type: none;
    padding: 10px;
}
a{
    text-decoration: none;
}
.footer{
    padding: 30px 0;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}